/*очищаем стили по умолчанию*/
/*  * означает что мы обращаемся ко всем тэгам на странице*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
/*при box-sizing=border-box ширина блока включает в себя внутренний padding и border
 и не включает внешний margin */
.example-block{
    font-size: 20px;
    /*отступ (выравнивает внутри блока)*/
    padding: 10px 20px 30px 5px;
    /*выравнивает блок по внешним отступам*/
    margin: 10px 20px 30px 5px;
    /*изменяет ширину блока*/
    width: 600px;
    /*максимальная/имнимальная ширина блока*/
    max-width: 600px;
    max-height: 200px;
    border: 2px solid #000;

    overflow:  hidden;

}
.example-string {
    /*изменяет поведение тэга на блочный/строковый*/
    display: block; /*display: inline;*/
    /*элемент остается строчным но него начинают действовать отступы и т.д */
    display: inline-block;
    /*временно удаляет элемент из документа и занимаемое им место не резервируется*/
    /*display: none;*/

    font-size: 20px;
    /*отступ (выравнивает внутри блока)*/
    padding: 10px 20px 30px 5px;
    /*выравнивает блок по внешним отступам*/
    margin: 10px 20px 30px 5px;
    /*изменяет ширину блока*/
    width: 600px;
    /*максимальная/имнимальная ширина блока*/
    max-width: 600px;
    max-height: 200px;
    border: 6px solid red;
}
.example-image {
    display: inline-block;
    height: 200%;
    max-height: 300px;
    max-width: 600px;
    min-width: 400px;
}